<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <title>CSC 341 OS Lab</title>

      <link rel='stylesheet' href='{{ site.path }}/CSC_341_OS_Lab/stylesheets/styles.css'>
      <link rel='stylesheet' href='{{ site.path }}/CSC_341_OS_Lab/stylesheets/github-light.css'>
      <link rel='stylesheet' href='{{ site.path }}/CSC_341_OS_Lab/stylesheets/shCore.css'>
      <link rel='stylesheet' href='{{ site.path }}/CSC_341_OS_Lab/stylesheets/shThemeDefault.css'>
      <meta name="viewport" content="width=device-width">
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src='{{ site.path }}/CSC_341_OS_Lab/javascripts/shCore.js'></script>
      <script src='{{ site.path }}/CSC_341_OS_Lab/javascripts/shBrushCpp.js'></script>
      <script src='{{ site.path }}/CSC_341_OS_Lab/javascripts/linewrap.js'></script>


      <div class="coverpage">
        <script>
          /* Print line breaks to "center" the cover page */
          for (i = 0; i < 15; i++) {
            document.write("<br />");
          }

          /* Determine which lab we're working with by determining the due dates we're within */
          var labNum = 1;
          var today = new Date();
          var dueDates = new Array(new Date("February 11, 2016 3:30 PM"), new Date("February 25, 2016 3:30 PM"), new Date("March 29, 2016 3:30 PM"), new Date("April 12, 2016 3:30 PM"), new Date("April 28, 2016 3:30 PM"));
          for (i = 0; i < 5; i++) {
            if (today > dueDates[i]) {
              labNum++;
            }
          }
          /* The due dates to print */
          var dateToPrint = new Array("February 11, 2016", "February 25, 2016", "March 29, 2016", "April 12, 2016", "April 28, 2016");

          /* Print out the cover page */
          document.write("<p>Lab " + labNum + "</p>");
          document.write("<br/>");
          document.write("<p>Aaron Baker, Andrew Ballard, and Dylan Jager-Kujawa</p>");
          document.write("<p>Dr. Robert Strader</p>");
          document.write("<p>CSC 341.001</p>");
          document.write("<p>" + dateToPrint[labNum - 1] + "</p>"); /* labNum is 1-indexed, dateToPrint is 0-indexed */
        </script>
      </div>
    </head>
    <body><div style="width:670px margin-left:auto margin-right:auto">
      {{ content }}

      <h2><a id="project-listing" class="anchor" href="#project-listing" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Project Listing</h2>
      <script>
        function loadFiles() {
          var errors = 0;
          var errorlist = "";
          
          $("#out_txt_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/out.txt",
            function(response, status) {
              if (status == "success") {
                respont = response.replace(/>/g, "&gt;").replace(/</g, "&lt;");
                document.getElementById("out_txt_code").text = response;
              } else {
                errors += 1;
                errorlist = "<li>out.txt</li> \n";
              }
            }
          );
          
          $("#machine_hpp_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/machine.hpp",
            function(response, status) {
              if (status == "success") {
                respont = response.replace(/>/g, "&gt;").replace(/</g, "&lt;");
                document.getElementById("machine_hpp_code").text = response;
              } else {
                errors += 1;
                errorlist = "<li>machine.hpp</li> \n";
              }
            }
          );
          
          $("#machine_cpp_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/machine.cpp",
            function(response, status) {
              if (status == "success") {
                respont = response.replace(/>/g, "&gt;").replace(/</g, "&lt;");
                document.getElementById("machine_cpp_code").text = response;
              } else {
                errors += 1;
                errorlist = "<li>machine.cpp</li> \n";
              }
            }
          );
          
          $("#os_hpp_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/os.hpp",
            function(response, status) {
              if (status == "success") {
                respont = response.replace(/>/g, "&gt;").replace(/</g, "&lt;");
                document.getElementById("os_hpp_code").text = response;
              } else {
                errors += 1;
                errorlist = "<li>os.hpp</li> \n";
              }
            }
          );
          
          $("#os_cpp_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/os.cpp",
            function(response, status) {
              if (status == "success") {
                respont = response.replace(/>/g, "&gt;").replace(/</g, "&lt;");
                document.getElementById("os_cpp_code").text = response;
              } else {
                errors += 1;
                errorlist = "<li>os.cpp</li> \n";
              }
            }
          );
          
          $("#part2_dat_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/part2.dat",
            function(response, status) {
              if (status == "success") {
                respont = response.replace(/>/g, "&gt;").replace(/</g, "&lt;");
                document.getElementById("part2_dat_code").text = response;
              } else {
                errors += 1;
                errorlist = "<li>part2.dat</li> \n";
              }
            }
          );
          
          $("#part2x_dat_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/part2x.dat",
            function(response, status) {
              if (status == "success") {
                respont = response.replace(/>/g, "&gt;").replace(/</g, "&lt;");
                document.getElementById("part2x_dat_code").text = response;
              } else {
                errors += 1;
                errorlist = "<li>part2x.dat</li> \n";
              }
            }
          );
          
          $("#makefile_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/makefile",
            function(response, status) {
              if (status == "success") {
                respont = response.replace(/>/g, "&gt;").replace(/</g, "&lt;");
                document.getElementById("makefile").text = response;
              } else {
                errors += 1;
                errorlist = "<li>makefile</li> \n";
              }
            }
          );
          
          // Give errorlist a heading and surround with ol tags
          errorslist = "<strong>The following files could not be loaded: </strong>\n<ol>" + errorslist + "</ol>";
          
          if (errors == 0) {
            return true;
          } else {
            return errorlist;
          }
        }
      
        $(document).ready(function(){
          var loadResult = loadFiles();
          while (loadResult != true){
            // On load failure, prompt for reload
            swal({
              title: "Oops!",
              text: errorlist,
              type: "error",
              showCancelButton: true,
              confirmButtonText: "Retry",
              closeOnConfirm: true
            },
            function(isConfirm){
              // If confirm, try again
              if (isConfirm) {
                loadResult = loadFiles();
              // If cancel, exit while loop
              } else {
                loadResult = true;
              }
            });
          }
          
          // Attempt to highlight syntax once load is complete
          SyntaxHighlighter.all();
        });
      </script>

      <p><a name="out_txt"></a></p>
      <h3><a id="outtxt" class="anchor" href="#out_txt" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Execution Listing</h3>
      <pre id="out_txt_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

  <p class="pagebreak" />
      <p><a name="listing_machine_hpp"></a></p>
      <h3><a id="machinehpp" class="anchor" href="#machinehpp" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>machine.hpp</h3>
      <pre id="machine_hpp_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

  <p class="pagebreak" />
      <p><a name="listing_machine_cpp"></a></p>
      <h3><a id="machinecpp" class="anchor" href="#machinecpp" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>machine.cpp</h3>
      <pre id="machine_cpp_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

  <p class="pagebreak" />
      <p><a name="listing_os_hpp"></a></p>
      <h3><a id="oshpp" class="anchor" href="#oshpp" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>os.hpp</h3>
      <pre id="os_hpp_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

  <p class="pagebreak" />
      <p><a name="listing_os_cpp"></a></p>
      <h3><a id="oscpp" class="anchor" href="#oscpp" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>os.cpp</h3>
      <pre id="os_cpp_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

  <p class="pagebreak" />
      <p><a name="listing_part2_dat"></a></p>
      <h3><a id="part2dat" class="anchor" href="#part2dat" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>part2.dat</h3>
      <pre id="part2_dat_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

  <p class="pagebreak" />
      <p><a name="listing_part2x_dat"></a></p>
      <h3><a id="part2xdat" class="anchor" href="#part2xdat" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>part2x.dat</h3>
      <pre id="part2x_dat_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

  <p class="pagebreak" />
      <p><a name="listing_makefile"></a></p>
      <h3><a id="makefile" class="anchor" href="#makefile" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>makefile</h3>
      <pre id="makefile_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>
    </div></body>
</html>
