<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>CSC 341 OS Lab</title>

    <link rel='stylesheet' href='{{ site.path }}/CSC_341_OS_Lab/stylesheets/styles.css'>
    <link rel='stylesheet' href='{{ site.path }}/CSC_341_OS_Lab/stylesheets/github-light.css'>
    <link rel='stylesheet' href='{{ site.path }}/CSC_341_OS_Lab/stylesheets/shCore.css'>
    <link rel='stylesheet' href='{{ site.path }}/CSC_341_OS_Lab/stylesheets/shThemeDefault.css'>
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src='{{ site.path }}/CSC_341_OS_Lab/javascripts/shCore.js'></script>
    <script src='{{ site.path }}/CSC_341_OS_Lab/javascripts/shBrushCpp.js'></script>
    <script src='{{ site.path }}/CSC_341_OS_Lab/javascripts/linewrap.js'></script>


    <div class="coverpage">
      <script>
        /* Print line breaks to "center" the cover page */
        for (i = 0; i < 15; i++) {
          document.write("<br />");
        }

        /* Determine which lab we're working with by determining the due dates we're within */
        var labNum = 1;
        var today = new Date();
        var dueDates = new Array(new Date("February 11, 2016 3:30 PM"), new Date("February 25, 2016 3:30 PM"), new Date("March 29, 2016 3:30 PM"), new Date("April 12, 2016 3:30 PM"), new Date("April 28, 2016 3:30 PM"));
        for (i = 0; i < 5; i++) {
          if (today > dueDates[i]) {
            labNum++;
          }
        }
        /* The due dates to print */
        var dateToPrint = new Array("February 11, 2016", "February 25, 2016", "March 29, 2016", "April 12, 2016", "April 28, 2016");

        /* Print out the cover page */
        document.write("<p>Lab " + labNum + "</p>");
        document.write("<br/>");
        document.write("<p>Aaron Baker, Andrew Ballard, and Dylan Jager-Kujawa</p>");
        document.write("<p>Dr. Robert Strader</p>");
        document.write("<p>CSC 341.001</p>");
        document.write("<p>" + dateToPrint[labNum - 1] + "</p>"); /* labNum is 1-indexed, dateToPrint is 0-indexed */
      </script>
    </div>
  </head>
  <body>
    {{ content }}

    <h2><a id="project-listing" class="anchor" href="#project-listing" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Project Listing</h2>
    <script>
      $(document).ready(function(){
        $("#out_txt_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/out.txt")
        $("#machine_h_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/machine.h");
        $("#machine_c_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/machine.c");
        $("#os_h_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/os.h");
        $("#os_c_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/os.c");
        $("#part1_dat_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/part1.dat");
        $("#part1x_dat_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/part1x.dat");
        $("#makefile_code").load("https://raw.githubusercontent.com/Kujawadl/CSC_341_OS_Lab/master/makefile");
        SyntaxHighlighter.all();
      });
    </script>

    <p><a name="out_txt"></a></p>
    <h3><a id="outtxt" class="anchor" href="#out_txt" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Execution Listing</h3>
    <pre id="out_txt_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

<p class="pagebreak" />
    <p><a name="listing_machine_h"></a></p>
    <h3><a id="machineh" class="anchor" href="#machineh" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>machine.h</h3>
    <pre id="machine_h_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

<p class="pagebreak" />
    <p><a name="listing_machine_c"></a></p>
    <h3><a id="machinec" class="anchor" href="#machinec" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>machine.c</h3>
    <pre id="machine_c_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

<p class="pagebreak" />
    <p><a name="listing_os_h"></a></p>
    <h3><a id="osh" class="anchor" href="#osh" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>os.h</h3>
    <pre id="os_h_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

<p class="pagebreak" />
    <p><a name="listing_os_c"></a></p>
    <h3><a id="osc" class="anchor" href="#osc" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>os.c</h3>
    <pre id="os_c_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

<p class="pagebreak" />
    <p><a name="listing_part1_dat"></a></p>
    <h3><a id="part1dat" class="anchor" href="#part1dat" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>part1.dat</h3>
    <pre id="part1_dat_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

<p class="pagebreak" />
    <p><a name="listing_part1x_dat"></a></p>
    <h3><a id="part1xdat" class="anchor" href="#part1xdat" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>part1x.dat</h3>
    <pre id="part1x_dat_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>

<p class="pagebreak" />
    <p><a name="listing_makefile"></a></p>
    <h3><a id="makefile" class="anchor" href="#makefile" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>makefile</h3>
    <pre id="makefile_code" class="syntaxhighlighter brush: c; toolbar: false; tab-size: 2; ruler: false"></pre>
  </body>
</html>
